{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    {% include '_navbar.html.twig' %}
    </div>

    <h3>User {{ user.name }} {{ user.surname }}</h3>

{% endblock %}